# Lab_3

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [1]:
import pandas as pd

#The header=0 means column names are in the first row
df=pd.read_csv("Purchase_Data.csv", header=0)

#The head method returns the first five rows
df.head()

,invoice_number,Name,invoice_time,Products,num_item,price,Discount%,Delivery Fee%,Brand
0,OD103719706054443200,G3M1R1,23-08-2015 00:00,Kitchen Appliances,1.0,1370.33,0,13,Nova
1,OD106420064045076000,G3M1R1,7/1/2016 0:00,Health Care,1.0,1164.76,0,9,Omron
2,OD106420064045076001,G3M1R1,7/1/2016 0:00,Books,1.0,596.67,0,23,Johnson
3,OD109711988579254000,G3M1R2,17-07-2017 00:00,Fitness Accessories,1.0,199.00,0,0,HAANS
4,OD109711988579254000,G3M1R2,18-07-2017 00:00,Health Supplements,1.0,4162.00,0,0,Muscletech

Use the dtypes attribute to view how each column is stored

In [2]:
# .dtypes Returns the datatype of each column 
df.dtypes

invoice_number     object
Name               object
invoice_time       object
Products           object
num_item          float64
price             float64
Discount%           int64
Delivery Fee%       int64
Brand              object
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [5]:
# Using .loc to select all rows and the first two columns.
# .loc is used for label-based indexing. 
# The first argument (:) means "all rows", 
# and the list ['invoice_number', 'Name'] specifies the columns
result_1 = df.loc[:, ['invoice_number', 'Name']]
print(result_1)

            invoice_number     Name
0     OD103719706054443200   G3M1R1
1     OD106420064045076000   G3M1R1
2     OD106420064045076001   G3M1R1
3     OD109711988579254000   G3M1R2
4     OD109711988579254000   G3M1R2
...                    ...      ...
3174      FAC5OU2100002091  G1M2R12
3175      FADVJD2100007635  G1M2R12
3176  OD117537329774872000   G1M1R5
3177  OD120189180140808000   G1M1R5
3178  OD506851927718236000   G1M1R8

[3179 rows x 2 columns]

Slice the first two rows using .loc and store the result in a variable called result_2.

In [6]:
# Using .loc to select the first two rows and all columns.
# The range 0:1 specifies the rows 
# The second argument (:) means "all columns". 
result_2 = df.loc[0:1, :]
print(result_2)

         invoice_number    Name      invoice_time            Products  \
0  OD103719706054443200  G3M1R1  23-08-2015 00:00  Kitchen Appliances
1  OD106420064045076000  G3M1R1     7/1/2016 0:00         Health Care

   num_item    price  Discount%  Delivery Fee%  Brand
0       1.0  1370.33          0             13   Nova
1       1.0  1164.76          0              9  Omron

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [7]:
# Using .loc to select the first four rows and the first five columns.
# 0:3: This specifies the rows 
# df.columns[:5]: This specifies the first five columns. 
result_3 = df.loc[0:3, df.columns[:5]]
print(result_3)

         invoice_number    Name      invoice_time             Products  \
0  OD103719706054443200  G3M1R1  23-08-2015 00:00   Kitchen Appliances
1  OD106420064045076000  G3M1R1     7/1/2016 0:00          Health Care
2  OD106420064045076001  G3M1R1     7/1/2016 0:00                Books
3  OD109711988579254000  G3M1R2  17-07-2017 00:00  Fitness Accessories

   num_item
0       1.0
1       1.0
2       1.0
3       1.0

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [8]:
# Using .loc to select rows 0, 4, 6 and columns 'invoice_time' and 'price'
# [0, 4, 6] specifies the rows with indices 0, 4, and 6.
# ['invoice_time', 'price'] specifies the columns 'invoice_time' and 'price'.
result_4 = df.loc[[0, 4, 6], ['invoice_time', 'price']]
print(result_4)

       invoice_time    price
0  23-08-2015 00:00  1370.33
4  18-07-2017 00:00  4162.00
6  17-10-2017 00:00   696.00

Store the number rows in a variable called num_rows.

In [10]:
#  shape attribute which returns a tuple 
# with the first element being the number of rows and the second element being the number of columns. 
num_rows = df.shape[0]
print(num_rows)

3179

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [11]:
# To print out the last row of the dataframe using the num_rows variable, with the .iloc[] indexer. 
last_row = df.iloc[num_rows - 1]
print(last_row)

invoice_number    OD506851927718236000
Name                            G1M1R8
invoice_time          20-08-2020 00:00
Products            Kitchen Appliances
num_item                           1.0
price                            849.0
Discount%                            0
Delivery Fee%                        0
Brand                          Philips
Name: 3178, dtype: object

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [15]:
# the avg_price variable will hold the average price charged
# the max_price variable will hold the maximum price charged.
avg_price = df['price'].mean()
max_price = df['price'].max()
print("Average price: " + str(avg_price) + ", Max price is: " + str(max_price))

Average price: 1962.638181818182, Max price is: 102990.0

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [17]:
#  Selected the two columns of interest ('price' and 'num_item') and apply the mean() method to both columns simultaneously.
# The result (averages) is a Series with the averages of the two columns.
# Then extract the individual averages from the averages Series and store them in avg_price and avg_num_items respectively.
averages = df[['price', 'num_item']].mean()
avg_price = averages['price']
avg_num_items = averages['num_item']
print(averages, avg_price, avg_num_items)

price       1962.638182
num_item       1.156968
dtype: float64 1962.638181818182 1.1569675998741742

Create a column called "total", which is the product of the price and num_item columns.

In [19]:
df['total'] = df['price'] * df['num_item']

0       1370.33
1       1164.76
2        596.67
3        199.00
4       4162.00
         ...
3174     563.00
3175     234.00
3176     358.00
3177     500.00
3178     849.00
Name: total, Length: 3179, dtype: float64

What is the avgerage price of the three most expensive purchases?

In [20]:
# 1) Sort the DataFrame by the "price" column in descending order.
# 2) Took the first three rows.
# 3) Compute the mean of their "price" column.
# The nlargest() method returns the first n occurrences ordered by the specified column in descending order
top_three_expensive = df.nlargest(3, 'price')
average_of_top_three = top_three_expensive['price'].mean()
print(top_three_expensive, average_of_top_three )

            invoice_number    Name      invoice_time                Products  \
1846      FAH4552200035429  G4M1R1     9/5/2021 0:00                 Laptops
310       FADZXG2100028546  G3M3R8  15-06-2020 00:00  Automotive Accessories
1808  OD253883930097580000  G6M5R2   10/11/2020 0:00                 Mobiles

      num_item     price  Discount%  Delivery Fee%  Brand     total
1846       1.0  102990.0          1              0   ASUS  102990.0
310        1.0   81990.0          1              0   Asus   81990.0
1808       1.0   68000.0         24              0  Apple   68000.0   84326.66666666667

How many different products are there?

In [21]:
# The nunique() method returns the number of unique values in a Series or DataFrame.
num_unique_products = df['Products'].nunique()
print(num_unique_products)

228

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [22]:
# Using describe() method on the 'total' column
desc = df['total'].describe()

# desc['mean'] retrieves the mean of the 'total' column.
# desc['50%'] retrieves the median of the 'total' column.
# Finding the difference between mean and median (50th percentile)
difference = desc['mean'] - desc['50%']

print(difference)

1763.350242214533

Use the drop() method to delete the column total from the dataframe df_data.

In [8]:
# To delete the column "total" from the dataframe df_data, you can use the drop() method 
# specifying axis=1 to indicate that you're dropping a column (not a row).
df_data.drop('total', axis=1, inplace=True)

Let's dig a little deeper into the data set and answer some basic question.

In [1]:
#Write your code here

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [23]:
# Convert the 'invoice_time' column to datetime type
df['invoice_time'] = pd.to_datetime(df['invoice_time'])

# Print out the data types of each column to check the conversion
print(df.dtypes)

invoice_number            object
Name                      object
invoice_time      datetime64[ns]
Products                  object
num_item                 float64
price                    float64
Discount%                  int64
Delivery Fee%              int64
Brand                     object
total                    float64
dtype: object

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [24]:
# Create a 'DOW' column which stores the day of the week
df['DOW'] = df['invoice_time'].dt.day_name()

# Create a 'Month' column which stores the month
df['Month'] = df['invoice_time'].dt.month_name()

# Print the head of the dataframe to verify the changes
print(df.head())

         invoice_number    Name invoice_time             Products  num_item  \
0  OD103719706054443200  G3M1R1   2015-08-23   Kitchen Appliances       1.0
1  OD106420064045076000  G3M1R1   2016-07-01          Health Care       1.0
2  OD106420064045076001  G3M1R1   2016-07-01                Books       1.0
3  OD109711988579254000  G3M1R2   2017-07-17  Fitness Accessories       1.0
4  OD109711988579254000  G3M1R2   2017-07-18   Health Supplements       1.0

     price  Discount%  Delivery Fee%       Brand    total      DOW   Month
0  1370.33          0             13        Nova  1370.33   Sunday  August
1  1164.76          0              9       Omron  1164.76   Friday    July
2   596.67          0             23     Johnson   596.67   Friday    July
3   199.00          0              0       HAANS   199.00   Monday    July
4  4162.00          0              0  Muscletech  4162.00  Tuesday    July

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [3]:
# df['DOW'].value_counts() returns a series where the indices are the days of the week
# and the values are the counts of occurrences of each day.
num_purchases_wed = df['DOW'].value_counts()['Wednesday']
print(num_purchases_wed)

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [4]:
# Read in the Titanic dataset
df_titanic = pd.read_csv("Titanic.csv")

# Use the head() method to display the first few rows of the dataframe
print(df_titanic.head())

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [26]:
# Read in the Titanic dataset
df_titanic = pd.read_csv("Titanic.csv", header=0)

# Then, proceed with renaming the columns
df_titanic = df_titanic.rename(columns={
    'Name': 'Passenger_Name',
    'Ticket': 'Ticket_Num'
})

# Display the first few rows to confirm the changes
print(df_titanic.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

Change the index of the df_titanic to the column PasengerID.

In [27]:
# Set the index to 'PassengerId'
df_titanic.set_index('PassengerId', inplace=True)

# Display the first few rows to confirm the changes
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

Select the name of passenger 896

In [28]:
# Assuming the column for names is 'Passenger_Name' after renaming
passenger_name = df_titanic.loc[896, 'Passenger_Name']
print(passenger_name)

Hirvonen, Mrs. Alexander (Helga E Lindqvist)

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [30]:
# To reset the index of the df_titanic dataframe back to row numbers without losing the PassengerId column, 
# you can use the reset_index() method. By default, this method retains the previous index as a new column.
df_titanic = df_titanic.reset_index()

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [29]:
# To find the number of missing entries in the Age column use the isnull() method followed by the sum() method. 
# When applied to a Boolean series, the sum() method counts the number of True values.
missing_age_entries = df_titanic['Age'].isnull().sum()
print(missing_age_entries)

86

Compute the avg age of passengers ignoring the missing data.

In [31]:
#  mean() method directly on the 'Age' column, the mean() function in pandas will ignore NaN (missing) values.
avg_age = df_titanic['Age'].mean()
print(avg_age)

30.272590361445783

Using the fillna() method replace the missing values in the Age column with the mean.

In [32]:
# Calculate the mean age
mean_age = df_titanic['Age'].mean()

# Replace NaN values in the 'Age' column with the mean age
df_titanic['Age'].fillna(mean_age, inplace=True)

# Verify that the NaN values have been replaced
print(df_titanic['Age'].isnull().sum())  # This should print 0 if all missing values have been replaced

0

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [33]:
# Sort the DataFrame by the 'Age' column in descending order and reset the index
sorted_df = df_titanic.sort_values(by='Age', ascending=False).reset_index(drop=True)

# Compute the average age of the 5 oldest passengers
avg_age_top5 = sorted_df['Age'].head(5).mean()

print(avg_age_top5)

67.0