# Lab 5

    * Name: Elena Pashkova
    * Student ID: n01587121

### Download and import data from Salaries.csv and answer the following questions

1. Import Salaries.csv and display the head.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

2. Display all the available data types

In [5]:
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status              float64
dtype: object

3. What is the average overtime pay?

In [6]:
# To find the average of the 'OvertimePay' column in the DataFrame df, 
# I used the mean() method:

average_overtime_pay = df['OvertimePay'].mean()
print(f"The average overtime pay is: ${average_overtime_pay:.2f}")

The average overtime pay is: $5066.06

4. What is the highest amount of BasePay in the dataset?

In [ ]:
# To find the highest amount of 'BasePay' in the DataFrame df, 
# I used the max() method:

highest_base_pay = df['BasePay'].max()
print(f"The highest amount of BasePay in the dataset is: ${highest_base_pay:.2f}")

5. What is the job title of  GARY JIMENEZ?

In [7]:
# To find the job title of 'GARY JIMENEZ' in the DataFrame df, 
# I used boolean indexing:

job_title = df[df['EmployeeName'] == 'GARY JIMENEZ']['JobTitle'].iloc[0]
print(f"The job title of GARY JIMENEZ is: {job_title}")

The job title of GARY JIMENEZ is: CAPTAIN III (POLICE DEPARTMENT)

6. How much does JOSEPH DRISCOLL make (including benefits)?

In [8]:
# To find out how much 'JOSEPH DRISCOLL' makes including benefits, 
# I looked at the TotalPayBenefits column for this particular employee:

total_pay_benefits = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].iloc[0]
print(f"JOSEPH DRISCOLL's total earnings including benefits is: ${total_pay_benefits}")

JOSEPH DRISCOLL's total earnings including benefits is: $270324.91

7. What is the name of highest paid person?

In [9]:
# To find the name of the highest paid person, 
# I looked for the row where TotalPayBenefits is maximum and extracted 
# the EmployeeName:

highest_paid_person = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].max()]['EmployeeName'].iloc[0]
print(f"The highest paid person is: {highest_paid_person}")

The highest paid person is: NATHANIEL FORD

8. What is the name of lowest paid person (including benefits)?

In [10]:
# To find the name of the lowest paid person when considering benefits, 
# I looked for the row where TotalPayBenefits is minimum and extracted the EmployeeName:

lowest_paid_person = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]['EmployeeName'].iloc[0]
print(f"The lowest paid person (including benefits) is: {lowest_paid_person}")

The lowest paid person (including benefits) is: Joe Lopez

9. What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [12]:
# To calculate the average BasePay of all employees for each year from 2011 to 2014, 
# I grouped by the Year column and then compute the mean of the BasePay column for each group:
    
average_basepay_per_year = df.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

10. How many unique job titles are there?

In [13]:
# To determine the number of unique job titles in the dataset, 
# I used the nunique() method on the JobTitle column:
    
num_unique_titles = df['JobTitle'].nunique()
print(num_unique_titles)

2159

11. How many unique Employee name are there?

In [14]:
# I used the nunique() method on the 'EmployeeName' column

unique_names_count = df['EmployeeName'].nunique()
print(unique_names_count)

110811

12. What are the top 5 most common jobs?

In [15]:
# value_counts() method on the 'JobTitle' column and then retrieve the top 5:

top_5_jobs = df['JobTitle'].value_counts().head(5)
print(top_5_jobs)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

13. How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [16]:
# First, filter the dataset for the year 2013 and then use value_counts() on the 'JobTitle' column. 
# Afterward, you can count how many of these have a value of 1:

titles_2013 = df[df['Year'] == 2013]['JobTitle'].value_counts()
unique_titles_2013 = sum(titles_2013 == 1)
print(unique_titles_2013)

202